<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="meat">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="meat">
  <meta property="og:type" content="meat">
  <meta property="og:url" content="meatspace.dev">
  <meta property="og:image" content="img/chonkerberg01.png">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/obnoxious.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>
<body>

<a href="https://www.discord.gg/8MVFRMa"><img style="width:100vw" src="/img/meatverse-intro.png" alt="meat"></a>
<div class="portfolio-container">
  {% assign meats = site.static_files | where: "meat", true %}
  {% for meat in meats %}
    <img class="animated intensifies meat-images" src="{{ meat.path }}" loading="lazy" alt="meat">
  {% endfor %}
</div>
  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
