<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="meat">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="meat">
  <meta property="og:type" content="meat">
  <meta property="og:url" content="meatspace.dev">
  <meta property="og:image" content="img/chonkerberg01.png">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/obnoxious.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>
<body>

  <h1>
    {{ page.title }}
  </h1>

  <div class="grid-5">
    <img class="animated intensifies" src="/img/meats/xenoberg (9).png" loading="lazy" alt="meat">
    <img class="animated intensifies" src="/img/meats/xenoberg (10).png" loading="lazy" alt="meat">
    <img class="animated intensifies" src="/img/meats/xenoberg (11).png" loading="lazy" alt="meat">
    <img class="animated intensifies" src="/img/meats/xenoberg (12).png" loading="lazy" alt="meat">
    <img class="animated intensifies" src="/img/meats/xenoberg (20).png" loading="lazy" alt="meat">
    <img class="animated intensifies" src="/img/meats/xenoberg (30).png" loading="lazy" alt="meat">
  </div>

  {% assign meats = site.static_files | where: "meat", true %}

  <div class="grid-5">
    {% for meat in meats %}
      <img class="animated intensifies" src="{{ meat.path }}" loading="lazy" alt="meat">
    {% endfor %}
  </div>

  {% assign paragraphs = content | newline_to_br | split: '<br />' | uniq %}

  <div class="meat-text">
    {% for paragraph in paragraphs %}
      <p>
        {{ paragraph }}
      </p>
    {% endfor %}
  </div>

  <div class="sticky-department" style="background-color: black;">
    <h3>meatverse.dev</h3>
  </div>

  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
</body>

</html>
